@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

/* Reset styles */
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
.body {
  background-color: gray;
  font-family: Arial, sans-serif;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.logo,
.footer__logo {
  text-decoration: none;
  font-size: 25px;
  color: aqua;
  text-align: left;
}

.header__navbar,
.header__nav-list,
.footer__share {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 0px;
  flex-wrap: wrap;
}

.nav-list__link:hover,
.footer__quicklink:hover,
.footer__usefullink:hover,
.footer__share__link:hover {
  cursor: pointer;
  color: yellow;
}

.nav-list__link,
.footer__share__link {
  text-decoration: none;
  color: aqua;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__navbar {
    margin-top: 20px;
  }

  .header__nav-list {
    text-align: center;
  }

  .nav-list__link {
    display: block;
    padding: 10px;
  }
}

/* Home styles */
.home {
  overflow: hidden;
  position: relative;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.home__info {
  flex: 0 0 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.content {
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: aqua;
  color: #333;
  text-decoration: none;
  border-radius: 90px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #087bf7;
}

@media only screen and (max-width: 600px) {
  .home__info {
    background-size: cover;
    background-position: center;
  }
}

/* Subjects styles */
.subjects {
  text-align: center;
  padding: 50px 0;
}

.subjects__heading {
  font-size: 32px;
  margin-bottom: 30px;
  color: black;
}

.subjects__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.subject {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border: 4px solid #333;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10.1);
  transition: transform 0.3s ease;
}

.subject:hover {
  transform: translateY(-5px);
}

.subject__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.subject__content {
  padding: 20px;
}

.subject__title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.subject__modules {
  font-size: 16px;
  color: #777;
  margin-bottom: 15px;
}

@media screen and(max-width: 900px) {
  .subject {
    width: calc(80% - 20px);
    flex-direction: column;
    align-items: center;
  }
}

/* Courses styles */
.courses {
  padding: 20px 0;
}

.courses__heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.courses__slider {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.courses__slide {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10.1);
}

.courses__image {
  width: 100%;
  height: auto;
  display: block;
  margin-right: 20px;
}

.courses__content {
  padding: 4px;
  text-align: left;
}

.courses__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 15px;
}

/* 900px for mobile */
@media screen and (max-width: 900px) {
  .courses__slide {
    width: calc(80% - 20px); /* Adjust width for mobile */
  }

  .courses__slider {
    flex-direction: column;
    align-items: center;
  }
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__section {
  flex: 1;
  margin: 0 20px;
}

.footer__h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.footer__quicklink,
.footer__usefullink {
  display: block;
  color: aqua;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-top: 10px;
}

.footer__input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
}

.footer__input::placeholder {
  color: grey;
  text-transform: capitalize;
}

.footer__p {
  font-size: 16px;
  margin-bottom: 10px;
  color: aqua;
}

.footer__copyright {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

@media screen and(max-width: 600px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__section {
    margin: 20px 0;
    text-align: center;
  }

  .footer__input {
    width: calc(100% - 20px);
  }
}

/* Account form styles */
.account__form {
  width: 90%; /* Adjust width for smaller screens */
  max-width: 400px; /* Limit width for larger screens */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account__tabs {
  display: flex;
  justify-content: space-around; /* Center tabs on smaller screens */
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 20px 20px;
}

.tab.active {
  background-color: aqua;
}

.login__form,
.register__form {
  display: none;
}

.account__input {
  width: 100%;
  padding: 10px; /* Increase padding for better touch experience */
  margin-bottom: 15px; /* Increase margin for better spacing on smaller screens */
  border: 1px solid #ccc;
  border-radius: 5px; /* Decrease border radius for a more modern look */
}

.account__input::placeholder {
  color: #333;
  text-transform: capitalize;
}

.account__checkbox {
  margin-bottom: 15px; /* Increase margin for better spacing on smaller screens */
}

.account__forgot-password {
  margin-left: auto; /* Move forgot password link to the right */
  color: #333;
}

.account__forgot-password:hover {
  cursor: pointer;
  color: blue;
}

.account__heading {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px; /* Increase margin for better spacing on smaller screens */
}

.account__button {
  width: 100%;
  padding: 12px; /* Increase padding for better touch experience */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account__button:hover {
  background-color: #0056b3;
}

.placeholder__image {
  max-width: 100%;
  height: auto;
  margin: 20px auto; /* Decrease margin for better spacing on smaller screens */
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .placeholder__image {
    width: 200px; /* Decrease width for smaller screens */
    height: 200px; /* Decrease height for smaller screens */
    margin-bottom: 10px; /* Adjust margin for spacing */
  }
}

@media only screen and (max-width: 600px) {
  .account__form {
    padding: 15px;
  }

  .tab {
    width: 48%;
  }
}
